<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/keyaki/lilac/api/lilac-api.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/keyai/lilac/api/archive/lilac-api.%d{yyyy-MM}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="debug">
		<appender-ref ref="file" />
	</root>
</configuration>