<!DOCTYPE html>
<html><head><meta http-equiv="content-type" content="text/html" charset="UTF-8" /></head><body><div id="templates">

<div id="page-template" data-role="page" data-theme="b" data-title="管理メニュー">
	<div data-role="header" data-theme="b">
		<h1>管理メニュー</h1>
		<div class="header-buttons header-buttons-right" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a href="#admin" data-role="button" data-icon="gear" data-iconpos="notext" data-theme="d">admin</a>
			<a href="#main" data-role="button" data-icon="home" data-iconpos="notext" data-theme="d">menu</a>
		</div>
	</div>
	<div data-role="content">
		<div class="ui-body ui-body-d">
			<h3>現在のアカウント: <span id="account-name">ppoi</span></h3>
			<form id="authbuttonfolder">
			</form>
		</div>
		<div id="admin-menu">
			<ul data-role="listview" data-inset="true" data-theme="d">
				<li data-role="list-divider">MENU</li>
				<li><a href="#export">データエクスポート</a></li>
				<li><a href="#import">データインポート</a></li>
			</ul>
		</div>
	</div>
</div>

</div></body></html>