<!DOCTYPE html>
<html><head><meta http-equiv="content-type" content="text/html" charset="UTF-8" /></head><body><div id="templates">

<div id="page-template" data-role="page" data-theme="b" data-title="りら">
	<div data-role="header" data-theme="b">
		<div class="header-buttons header-buttons-left" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a data-rel="back" data-role="button" data-icon="back" data-iconpos="notext" data-theme="d">戻る</a>
		</div>
		<h1>著者情報</h1>
		<div class="header-buttons header-buttons-right" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a href="#admin" data-role="button" data-icon="gear" data-iconpos="notext" data-theme="d">admin</a>
			<a href="#main" data-role="button" data-icon="home" data-iconpos="notext" data-theme="d">menu</a>
		</div>
	</div>
	<div data-role="content">
		<div class="ui-body ui-body-d">
			<h3 id="author-name">著者名</h3>

			<ul id="author-detail" data-role="listview" data-inset="true" data-theme="d">
				<li data-role="list-divider">詳細情報</li>
				<li><label>Webサイト:</label> <span id="author-website">-</span></li>
				<li><label>Twitter:</label> <span id="author-twitter">-</span>
			</ul>

			<ul id="author-synonymlist" data-role="listview" data-inset="true" data-theme="d">
				<li data-role="list-divider">シノニム</li>
			</ul>
		</div>

		<div class="booklist-holder"></div>
	</div>
</div>

</div></body></html>