<!DOCTYPE html>
<html><head><meta http-equiv="content-type" content="text/html" charset="UTF-8" /></head><body><div id="templates">

<div id="page-template" data-role="page" data-theme="b" data-title="りら">
	<div data-role="header" data-theme="b">
		<div class="header-buttons header-buttons-left" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a data-rel="back" data-role="button" data-icon="back" data-iconpos="notext" data-theme="d">戻る</a>
		</div>
		<h1>蔵書検索</h1>
		<div class="header-buttons header-buttons-right" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a href="#admin" data-role="button" data-icon="gear" data-iconpos="notext" data-theme="d">admin</a>
			<a href="#main" data-role="button" data-icon="home" data-iconpos="notext" data-theme="d">menu</a>
		</div>
	</div>
	<div data-role="content">
		<div data-role="collapsible" data-theme="e" data-content-theme="c">
			<h3 id="booksearch">検索条件</h3>
			<form id="booksearchform" data-ajax="false">
				<label>キーワード</label><input type="search" name="keyword" /><br />
				<label>レーベル</label><select id="labeloptions" name="label" data-theme="c">
					<option value=""> </option>
				</select><br />
				<input type="submit" value="検索" data-theme="b" />
			</form>
		</div>
		<div class="booklist-holder"></div>
	</div>
</div>

</div></body></html>