<!DOCTYPE html>
<html><head><meta http-equiv="content-type" content="text/html" charset="UTF-8" /></head><body><div id="templates">

<div id="page-template" data-role="page" data-theme="b" data-title="りら">
	<div data-role="header" data-theme="b">
		<div class="header-buttons header-buttons-left" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a data-rel="back" data-role="button" data-icon="back" data-iconpos="notext" data-theme="d">戻る</a>
		</div>
		<h1>蔵書検索</h1>
		<div class="header-buttons header-buttons-right" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a href="#admin" data-role="button" data-icon="gear" data-iconpos="notext" data-theme="d">admin</a>
			<a href="#main" data-role="button" data-icon="home" data-iconpos="notext" data-theme="d">menu</a>
		</div>
	</div>
	<div data-role="content">
		<div id="booksearch-condition" data-role="collapsible" data-theme="e" data-content-theme="c">
			<h3>検索条件</h3>
			<form id="booksearchform" data-ajax="false">
				<div data-role="fieldcontain" class="ui-hide-label">
					<input type="search" id="booksearch-keyword" name="keyword" placeholder="キーワード" /><br />
					<label for="booksearch-label">レーベル</label><select id="booksearch-label" name="label" data-theme="c">
						<option value="">(レーベル)</option>
					</select>
				</div>
				<div data-role="collapsible">
					<h4>出版日</h4>
					<input type="date" id="booksearch-publicationDateBegin" /> ～ <input type="date" id="booksearch-publicationDateEnd" />
				</div>
				<div data-role="collapsible">
					<h4>購入日</h4>
					<input type="date" id="booksearch-acquisitionDateBegin" /> ～ <input type="date" id="booksearch-acquisitionDateEnd" />
				</div>
				<input type="submit" value="検索" data-theme="b" />
				<input type="reset" value="クリア" data-theme="c" />
			</form>
		</div>
		<div class="booklist-holder"></div>
	</div>
</div>

</div></body></html>