<!DOCTYPE html>
<html><head><meta http-equiv="content-type" content="text/html" charset="UTF-8" /></head><body><div id="templates">

<div id="page-template" data-role="page" data-theme="b" data-title="認証情報管理">
	<div data-role="content">
		<div class="ui-header ui-bar-e">
			<h3 class="ui-title">認証情報</h3>
		</div>
		<div class="ui-body ui-body-d">
			<form id="login-form" data-ajax="false">
				<div data-role="fieldcontain" class="ui-hide-label">
					<label for="credential-password">パスワード</label>
					<input type="password" id="credential-password" placeholder="パスワード" />
					<label for="credential-password">パスワード(確認)</label>
					<input type="password" id="credential-password-confirm" placeholder="パスワード(確認)" />
					<div class="form-buttons">
						<button id="credential-update" data-inline="true" data-mini="true" data-theme="b">　設定　</button>
						<button id="credential-cancel" data-inline="true" data-mini="true" data-theme="c">キャンセル</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

</div></body></html>