<!DOCTYPE html>
<html><head><meta http-equiv="content-type" content="text/html" charset="UTF-8" /></head><body><div id="templates">

<div id="page-template" data-role="page" data-theme="b" data-title="管理メニュー">
	<div data-role="header" data-theme="b">
		<div class="header-buttons header-buttons-left" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a data-rel="back" data-role="button" data-icon="back" data-iconpos="notext" data-theme="d">戻る</a>
		</div>
		<h1>データインポート</h1>
		<div class="header-buttons header-buttons-right" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a href="#admin" data-role="button" data-icon="gear" data-iconpos="notext" data-theme="d">admin</a>
			<a href="#main" data-role="button" data-icon="home" data-iconpos="notext" data-theme="d">menu</a>
		</div>
	</div>
	<div data-role="content">
		<div data-role="collapsible" data-theme="e" data-content-theme="c">
			<h3>ファイルアップロード</h3>
			<form id="upload-form" data-ajax="false">
				<input type="file" name="upload-file" id="upload-file" /> 
				<button id="execute-upload">アップロード</button>
			</form>
		</div>
		<form id="import-form">
			<div class="ui-body ui-body-d">
				<fieldset id="import-files" data-role="controlgroup">
				</fieldset>
			</div>
			<div data-role="controlgroup" data-type="horizontal" data-mini="true">
				<button id="import-data" data-icon="plus">インポート</button>
				<button id="cancel" data-icon="delete" data-theme="a">ファイル削除</button>
			</div>
		</form>
	</div>
</div>

</div></body></html>