<!DOCTYPE html>
<html><head><meta http-equiv="content-type" content="text/html" charset="UTF-8" /></head><body><div id="templates">

<div id="page-template" data-role="page" data-theme="b" data-title="りらについて">
	<div data-role="header" data-theme="b">
		<div class="header-buttons header-buttons-left" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a data-rel="back" data-role="button" data-icon="back" data-iconpos="notext" data-theme="d">戻る</a>
		</div>
		<h1>りらについて</h1>
		<div class="header-buttons header-buttons-right" data-role="controlgroup" data-mini="true" data-type="horizontal">
			<a href="#admin" data-role="button" data-icon="gear" data-iconpos="notext" data-theme="d">admin</a>
			<a href="#main" data-role="button" data-icon="home" data-iconpos="notext" data-theme="d">menu</a>
		</div>
	</div>
	<div data-role="content">
		<div class="ui-body ui-body-d">
			<h4>りら(Lilac): 蔵書管理システム</h4>
			<p>&copy; Tsukuba Bunko. All Rights Reserverd.</p>
		</div>
		<ul data-role="listview" data-inset="true" data-theme="d">
			<li data-role="list-divider">バージョン情報</li>
			<li>UI: <span id="console-version"></span></li>
			<li>API: <span id="api-version"></span></li>
		</ul>
		<button id="check-update" data-theme="e">更新の確認</button>
	</div>
</div>

</div></body></html>