<!DOCTYPE html>
<html><head><meta http-equiv="content-type" content="text/html" charset="UTF-8" /></head><body><div id="templates">

<div id="page-template" data-role="page" data-theme="b" data-title="りら">
	<div data-role="content">
		<div class="ui-header ui-bar-e">
			<h3 class="ui-title">ログインが必要です</h3>
		</div>
		<div class="ui-body ui-body-d">
			<form id="login-form" data-ajax="false">
				<div data-role="fieldcontain" class="ui-hide-label">
					<label for="login-userid">ユーザID</label>
					<input type="text" id="login-userid" placeholder="ユーザID" />
					<label for="login-password">パスワード</label>
					<input type="password" id="login-password" placeholder="パスワード" />
					<div class="form-buttons">
						<input type="submit" id="login-execute" data-inline="true" data-mini="true" data-theme="b" value="ログイン" />
						<a data-role="button" data-inline="true" data-mini="true" data-theme="c" id="login-cancel">キャンセル</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

</div></body></html>