
.li-index {
	float: left;
	padding:8px 0px 0px 3px;
	margin: 0px;
	text-align:right;
	font-size: 12px;
	width: 20px;
	max-width: 30px;
}

.li-book-acuisition {
	font-size: 12px;
	font-weight: lighter;
}
.li-book-orphan {
	font-size: 14px;
	font-weight: lighter;
}

p.booklist-authors {
	margin: 5px 0px 0px 0px;
}
p.booklist-description {
	margin: 0.5em 0px 0px 0px;
}

.header-buttons {
	display: inline;
	top: 1px;
	position: absolute;
}
.header-buttons-right {
	text-align: right;
	right: 5px;
}
.header-buttons-left {
	text-align: right;
	left: 5px;
}
.header-buttons .ui-corner-all {
	-moz-border-radius: .4em ;
	-webkit-border-radius: .4em ;
	border-radius: .4em ;
}
.header-buttons .ui-corner-left {
	-moz-border-radius-topleft: .4em ;
	-moz-border-radius-bottomleft: .4em ;
	-webkit-border-top-left-radius: .4em ;
	-webkit-border-bottom-left-radius: .4em ;
	border-top-left-radius: .4em ;
	border-bottom-left-radius: .4em ;
}
.header-buttons .ui-corner-right {
	-moz-border-radius-topright: .4em ;
	-moz-border-radius-bottomright: .4em ;
	-webkit-border-top-right-radius: .4em ;
	-webkit-border-bottom-right-radius: .4em ;
	border-top-right-radius: .4em ;
	border-bottom-right-radius: .4em ;
}
