# Build specific settings

database.driver.version=9.0-801.jdbc4

database.name=lilac_ct
database.username=lilac_ct
database.password=ci.lilac
database.collate=ja_JP.UTF8
database.ctype=ja_JP.UTF8

lilac.api.importFileStore=/tmp