<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>lilac-console</display-name>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude>/WEB-INF/common.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<mime-mapping>
		<extension>appcache</extension>
		<mime-type>text/cache-manifest</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>
</web-app>